.main-carousel {
    width: 100%;
    overflow: visible;
    margin-bottom: 50px;
}
.carousel-cell {
    width: 90%;
    margin-right: 20px;
}
.carousel-cell.large-cell{
    width: 49.7%;
}

.carousel-image {
    border-radius: 10px;
    width: 100%;
}