//Mabry
@font-face {
  font-family: "Mabry";
  src: url("../fonts/MabryBlack.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Mabry";
  src: url("../fonts/MabryRegular.otf") format("opentype");
  font-weight: normal;
}

a{
  text-decoration: none;
}
.resume-links{
  transition: .2s;
}
.resume-links:hover{
  color: $green;
}
h1{
  font-family: Mabry;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  margin: 0;
}
h3{
  font-family: Mabry;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
}
p{
  font-family: Mabry;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
}
tag{
  font-family: Mabry;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  color: $shade2;
}
.grey-out{
  color: $shade2;
}

@media screen and (max-width: $tablet) {


}

@media screen and (max-width: $mobile) {
h1{
  font-size: 14px;
  line-height: 17.5px;
}
h3{
  font-size: 15px;
  line-height: 17.5px;
}
p{
  font-size: 14px;
  line-height: 17.5px;
}

}