$breakpointtablet: 830px;
$breakpointdesktop: 1200px;

//Project Images Section
//Entire Background of Images
.projectssection{
    // background: rgba(0, 0, 255, 0.253);
    height: 390vh; //INCREMENT +130
}
.projectscontainer{
    width: 100%;
    height: 130vh;
    position: relative;
    // outline: solid;
}
.projectsimage{
    border-radius: 10px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    //Sizing
    width: 60vw;
    height: auto;
    max-width: 1200px; 
    min-width: 800px;
}
.vertical{
    width: 30vw;
    height: auto;
    max-width: 1200px;
    min-width: 500px;
}


//Sticky Text Section
.backgroundcontainer {
    height: 390vh + 70vh; //INCREMENT +130
    width: 100%;
    position: relative;
    // background: rgba(0, 128, 0, 0.534);
    margin-top: -390vh - 70vh;
    z-index:10;
    pointer-events: none;

    //Responsive
    @media (max-width: 1500px) {
        height: 390vh + 55vh; //INCREMENT +130
        margin-top: -390vh - 55vh;
    }
}
.stickycontainer {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
    // background: rgba(255, 255, 0, 0.404);
}


.gridcontainer {
    // background: rgba(0, 0, 128, 0.336);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px 10px;
    width: 100%;
    max-width: 1500px;
    bottom: 50px;
    //Center
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    //Links
    pointer-events: auto;

    //Responsive
    @media (max-width: 1500px) {
        bottom: 20px;
    }
}

.griditemtitle1 {
    //Grid
    grid-column-start: 1;
    grid-column-end: 5;
    //Font Styling
    color: $grey;
    // @include poppins17B
    font-family: Poppins;
    font-size: 17px;
    font-weight: bold;
    
    //Responsive
    @media (max-width: 1500px) {
        margin-left: 20px;
    }
}
.griditemtitle2 {
    //Grid
    grid-column-start: 5;
    grid-column-end: 7;
    //Font Styling
    color: $grey;
    @include poppins17B
}
.griditemdescription1 {
    grid-column-start: 1;
    grid-column-end: 5;
    //Font Styling
    color: $grey;
    // @include poppins40L;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    line-height: 130%;

    //Responsive
    @media (max-width: 1500px) {
        margin-left: 20px;
    }
    @media (max-width: $breakpointdesktop) {
        font-size: 30px;
    }
}
.projecttitle{
    display: inline-block;
    color: $blue;
    font-weight: bold;
}
.tagcontainer{
    margin-top: 10px;
}
.tag{
    // @include poppins20M;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;

    background: $grey2;
    display: inline-block;
    border-radius: 5pt;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    @media (max-width: $breakpointdesktop) {
        font-size: 15px;
        padding: 0px 20px;
        height: 35px;
        line-height: 35px;
    }
}

.griditemdescription2 {
    grid-column-start: 5;
    grid-column-end: 6;
    margin-top: 5px;
    //Font Styling
    color: $grey;
    // @include poppins17R;
    font-family: Poppins;
    font-size: 17px;
    font-weight: regular;
    line-height: 140%;

    @media (max-width: $breakpointdesktop) {
        font-size: 15px;
        margin-top: 0px;
    }
}
.resumetext{
    margin-top: 10px;
}
.griditemdescription3 {
    grid-column-start: 6;
    grid-column-end: 7;
    margin-top: 5px;
    //Font Styling
    color: $grey;
    // @include poppins17R;
    font-family: Poppins;
    font-size: 17px;
    font-weight: regular;
    line-height: 140%;
    //Responsive
    @media (max-width: 1500px) {
        margin-right: 20px;
    }
    @media (max-width: $breakpointdesktop) {
        font-size: 15px;
        margin-top: 0px;
    }
}