//Animation on load
.project-block{

    pointer-events: auto;
    transition: .4s;
    transition-delay: 100ms;
    transition-property: margin-top, opacity;
    margin-top: 40px;
    opacity: 0;
}
//FADE OTHER PROJECTS ON HOVER
// .grid-1-2:hover .project-block{
//     transition: .2s;
//     opacity: 0.3;
// }

// .grid-1-2:hover .project-block:hover{
//     opacity: 1;
// }
.project-margin-bottom{
    padding-bottom: 20px;
}


//Layout Grids
.grid-1{
    margin: 20px 20px 10px 20px;
    display: grid;
    grid-template-columns: 460px 1fr;
}
.grid-1-1{
    transition: .4s ease;
}
.grid-1-2{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    row-gap: 0px;
}

//Resume
.grid-1-1-1{
    position: sticky;
    top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}
.clock{
    display: flex;
    column-gap: 10px;
    margin-bottom: 40px;
    margin-left: -25px;
}
.blinker{
    animation: blink-animation 2s steps(2, start) infinite;
        -webkit-animation: blink-animation 2s steps(2, start) infinite;
}
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

.recognition{
    grid-column: span 2;
}

//Image formatting
.thumbnail-image{
    width: 100%;
    border-radius: 5px;
}

.project-description{
    // background-color: yellow;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid .5px $shade2;
}
.project-description-inner{
    display: flex;
    column-gap: 10px; 
    transform: translateX(-22px);
}
    .project-number{
        position: sticky;
        top: 20px;
        padding-bottom: 15px;
    }
    .project-arrow{
        position: relative;
        bottom: 2.2px;
        opacity: 0;
        transition: 0.2s;
    }

.project-description-text{

}

@media screen and (max-width: $tablet) {
    .grid-1{
        grid-template-columns: 1fr;
    }
    .grid-1-1{
        grid-row-start: 0;
        position:static;
        height: auto;
        margin-left: 27px;
        margin-bottom: 60px;
    }
    .grid-1-1-1{
        position:static;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .clock{
        grid-column: span 2;
        // background: yellow;
    }
    .recognition{
        grid-column: span 1;
    }
    .grid-1-2{

    }
    .project-description{
        margin-top: 10px;
        padding-bottom: 10px;
        // border-bottom: solid 1px $shade2;
    }
}
@media screen and (max-width: $mobile) {
    .grid-1-1{
        margin-left: 0px;
        
    }
    .grid-1-2{
        margin-left: -10px;
    }
    .grid-1-1-1{
        grid-template-columns: 1fr 1fr;
        
    }
    .clock{
        display: none;
    }
    .project-number{
        display: none;
    }
    
}
