// PROJECT DESCRIPTION
.project-description-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0px 40px 20px 40px;
    padding-top: 60px;

    //Pageload
    transition: .5s ease;
    margin-top: 40px;
    opacity: 0;
}
.project-title-outer{
    grid-column: 1 / 3;
}
.project-meta-outer{
    grid-column: 3 / 7;
}
.fade-description{
    opacity: 0;
    transition: 0.2s;
}
.asterics{
    margin-bottom: 10px;
    color: $green;
}
.text{
    float: left;
}
.arrow{
    float: right;
    transform: rotate(90deg);
    transition: transform 0.2s ease-out; 
}
.collapsible{
    cursor: pointer;
    padding: 0 0 54px 0;
    border-bottom: solid 2px $shade3;
    // transition: none; 
}
.collapsible:hover{
    color: $green;
}
.content {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(.48,.79,.61,.97);  
}
.description{
    margin-top: 30px;
    column-count: 2;
    column-gap: 20px;
}
.project-tags-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.project-tags-inner-special {
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
}


//CONTENT GRID
.project-content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0px 40px 60px 40px;

    //Pageload
    transition: .5s ease;
    transition-delay: 400ms;
    transition-property: margin-top, opacity;
    margin-top: 40px;
    opacity: 0;
}
//GAPS
.gap-small{
    height: 5px;
}
.gap-10{
    height: 10px;
}
.gap-20{
    height: 20px;   
}
.gap-40{
    height: 40px;
}
.gap-60{
    height: 60px;
}

//IMAGES
.image{
    width: 100%;
    border-radius: 5px;
}
.image-fullbleed{
    grid-column: 1 / 7;
}
.image-two-left{
    grid-column: 1 / 4;
}
.image-two-right{
    grid-column: 4 / 7;
}
.image-three-one{
    grid-column: 1/3;
}
.image-three-two{
    grid-column: 3/5;
}
.image-three-three{
    grid-column: 5/7;
}

//TEXT
.text-default{
    grid-column: 2/4;
    padding: 40px 0 40px 0;
    // background: yellow;
}

.translate-on-load{
    margin-top: 0px;
    opacity: 1;
}
//BUTTON
.button-outer{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: 3px dotted $shade2;
}
.button-outer:hover{
    color: $green;
}

///////////////////////////////////////MEDIA QUERIES////////////////////////////////////////////////

@media screen and (max-width: $tablet) {
    .project-title-outer{
        grid-column: 1/7;
    }
    .project-meta-outer{
        grid-column: 1/7;
        margin-top: 10px;
    }
    .project-description-grid{
        padding-top: 40px;
        gap: 15px;
        // margin-bottom: 25px;
    }

    //TEXT
    .text-default{
        grid-column: 2/5;
        padding: 30px 3px 30px 3px;
    }

    //GAPS
    .gap-10{
        height: 5px;
    }
    .gap-20{
        height: 10px;
    }
    .gap-30{
        height: 20px;
    }
    .gap-40{
        height: 30px;
    }
    .gap-60{
        height: 50px;
    }
}
@media screen and (max-width: $mobile) {
    .project-description-grid{
        margin-left: 23px;
        margin-right: 23px;
        gap: 10px;
    }
    .asterics{
        margin-bottom: 5px;
    }
    .collapsible:hover{
        color: $black;
    }

    .project-content-grid{
        margin-left: 20px;
        margin-right: 20px;
    }
    .description{
        column-count: 1;
    }
    .project-tags-inner{
        grid-template-columns: 1fr 1fr;
    }
    .project-content-grid{
        gap: 10px;
    }

    //TEXT
    .text-default{
        grid-column: 1/7;
        padding: 30px 3px 30px 3px;
    }
    //IMAGES
    .image-fullbleed-on-mobile{
        grid-column: 1 / 7;
    }
    .image{
        border-radius: 3px;
    }
    .project-tags-inner-special {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
}

@media screen and (min-width: $monitor) {
    body{
        display: grid;
        justify-content: center;
    }
    .project-description-grid{
        max-width: $monitor;
    }
    .project-content-grid{
        max-width: $monitor;
    }
}

