//Mabry
@font-face {
  font-family: "Mabry";
  src: url("../fonts/MabryBlack.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Mabry";
  src: url("../fonts/MabryBold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Mabry";
  src: url("../fonts/MabryMedium.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Mabry";
  src: url("../fonts/MabryRegular.otf") format("opentype");
  font-weight: regular;
}
@font-face {
  font-family: "Mabry";
  src: url("../fonts/MabryLight.otf") format("opentype");
  font-weight: light;
}