//breakpoints
@import 'breakpoints';

//styles
@import 'colors', 'fonts', 'paragraphs', 'scroll';

//components
@import 'components/hero', 'components/projects', "components/basedoff", "components/carousel";

*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}
body {
    background: $white;
}
.unstyle {
    text-decoration: none;
    color: $grey;
}
.unstyle1 {
    text-decoration: none;
}