//breakpoints
@import 'breakpoints';

//stles
@import 'colors', 'fonts', 'paragraphs';

//components
@import 'components/hero', 'components/projects';

*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}
body {
    background: $white;
}
.unstyle {
    text-decoration: none;
    color: $grey;
}