//stles
@import 'colors.scss', 'fonts.scss', 'paragraphs.scss';

//components
@import 'components/hero.scss', 'components/projects.scss';

*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}
body {
    background: $white;
}
.unstyle {
    text-decoration: none;
    color: $grey;
}