.favorit130L {
    font-family: Favorit;
    font-size: 130px;
    font-weight: 100;
    line-height: 158px;

    @media (max-width: $breakpointdesktop) {
        font-size: 90px;
        line-height: 120px;
    }
    @media (max-width: $breakpointtablet) {
        font-size: 70px;
        line-height: 90px;
    }
    @media (max-width: $breakpointmobile) {
        font-size: 40px;
        line-height: 55px;
    }
}
@mixin poppins13R{
    font-family: Poppins;
    font-size: 13px;
    font-weight: regular;
}

@mixin poppins17B {
    font-family: Poppins;
    font-size: 17px;
    font-weight: bold;
}
@mixin poppins17R {
    font-family: Poppins;
    font-size: 17px;
    font-weight: regular;
    line-height: 150%;
}

@mixin poppins20M {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
}

@mixin poppins24B {
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
}


@mixin poppins30B {
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
}

@mixin poppins40L {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 300;
    line-height: 130%;
}
@mixin poppins40B {
    font-family: Poppins;
    font-size: 40px;
    font-weight: bold;
}

@mixin poppins200R {
    font-family: Poppins;
    font-size: 200px;
    font-weight: regular;
}