//components
@import 'components/breakpoints', 'components/colors', 'components/fonts';
//index
@import 'pages/home', 'pages/projects', 'components/footer.scss', 'components/header.scss';

*  { 
    margin: 0; 
    padding: 0; 
}
body {
    background: $background;
}
a{
    color: $black;
}